1. Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to
print the string &#39;too low&#39; if guess_me is less than 7, &#39;too high&#39; if greater than 7, and &#39;just right&#39; if equal
to 7.

In [3]:
guess_number = int(input("Enter Number:- "))

if guess_number <7 :
  print("Too Low")

elif guess_number == 7 :
  print("Just Right")

else:
  print("Too High")

Enter Number:- 7
Just Right

2. Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while
loop that compares start with guess_me. Print too low if start is less than guess me. If start equals
guess_me, print &#39;found it!&#39; and exit the loop. If start is greater than guess_me, print &#39;oops&#39; and exit
the loop. Increment start at the end of the loop.

In [4]:
guess_me = 7
start = 1

while True:
    if start < guess_me:
        print('too low')
    elif start == guess_me:
        print('found it!')
        break
    else:
        print('oops')
        break
    start += 1

too low
too low
too low
too low
too low
too low
found it!

3. Print the following values of the list [3, 2, 1, 0] using a for loop.

In [6]:
l = [3,2,1,0]

for i in l:
  print(i)

3
2
1
0

4. Use a list comprehension to make a list of the even numbers in range(10)

In [16]:
n = 10
s = 1
while s < n+1:
  if s % 2 == 0:
    print(s , end = " ")
  s = s+1

2 4 6 8 10

5. Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the
keys, and use the square of each key as its value.

In [21]:
for i in range(10+1):
  print(i ,":", i**2)

0 : 0
1 : 1
2 : 4
3 : 9
4 : 16
5 : 25
6 : 36
7 : 49
8 : 64
9 : 81
10 : 100

6. Construct the set odd from the odd numbers in the range using a set comprehension (10).

In [23]:
for i in range(11):
  if i%2 != 0 :
    print(i , end = " ")

1 3 5 7 9

7. Use a generator comprehension to return the string &#39;Got &#39; and a number for the numbers in
range(10). Iterate through this by using a for loop.

In [26]:
for i in range(10):
  print("Got")

Got
Got
Got
Got
Got
Got
Got
Got
Got
Got

8. Define a function called good that returns the list [&#39;Harry&#39;, &#39;Ron&#39;, &#39;Hermione&#39;].

In [27]:
def good():
  return("Harry" , "Ron" , "Hermione")

In [29]:
good()

('Harry', 'Ron', 'Hermione')

9. Define a generator function called get_odds that returns the odd numbers from range(10). Use a
for loop to find and print the third value returned.

In [32]:
def get_odds():
  for i in range(11):
    if i %2 != 0:
      print(i , end = " ")

In [33]:
get_odds()

1 3 5 7 9

10. Define an exception called OopsException. Raise this exception to see what happens. Then write
the code to catch this exception and print &#39;Caught an oops&#39;.

In [34]:
class OopsException(Exception):
    pass


def with_exception(a):
    if a < 0:
        raise OopsException(a)


try:
    with_exception(-1)
except OopsException as err:
    print('Caught an oops')

Caught an oops

11. Use zip() to make a dictionary called movies that pairs these lists: titles = [&#39;Creature of Habit&#39;,
&#39;Crewel Fate&#39;] and plots = [&#39;A nun turns into a monster&#39;, &#39;A haunted yarn shop&#39;].

In [36]:
d = {"movie" : ["Creature of Habit", "Crewel Fate"],
     "plots" : ["A nun turns into a monster", "A haunted yarn shop"]
    
}

In [38]:
d["movie"]

['Creature of Habit', 'Crewel Fate']

In [39]:
d["plots"]

['A nun turns into a monster', 'A haunted yarn shop']